.dropdown {
    position: relative;
    display: inline-block;
    background: #1E1E1E;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    border-radius: 1vmax;
    margin: .5em 0;
    cursor: pointer;

    &.open {
        border: 1px solid #6792FF;
    }

    >.dropdownContent {
        display: none;
        position: absolute;
        background: #1E1E1E;
        top: 100%;
        left: 0;
        flex-direction: column;

        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 1vmax;

        &.open {
            display: flex;
        }

        >.dropdownItem {
            cursor: pointer;
            padding: .5em;

            &:hover {
                background: #6792FF;
                border-radius: 1vmax;
            }

        }
    }

    >svg {
        &.open {
            transform: rotate(180deg);
        }
    }
}