.workProcess {
    padding: 2em 0;
    position: relative;

    @media only screen and (min-width: 960px) {
        padding: 4em 15vw;
    }

    >p {
        text-align: center;
        font-size: 2em;
        font-weight: 700;
    }

    >.cards {

        display: flex;
        justify-content: center;

        >.swiper {
            padding: 1em;
            margin: 0;
        }

    }

    >.navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1E1E1E;

        width: 13em;
        height: 2em;
        border-radius: 3vmax;
        padding: 0 1em;
        margin: 2em auto;

        @media only screen and (min-width: 960px) {
            display: none;
        }
    }
}